.card-list {display: none;}

.product-info {
    font-size: 1.2rem;
    margin-bottom: 7px;
    display: block;
    color: #9f70fd;
}

.card-list li {
    color: #fff;
    letter-spacing: 1.6px;
    font-size: 0.8rem;
    width: 80%;
    padding-block: 5px;
    border-bottom: 1px solid rgba(255, 215, 0, 0.5);
}

.card-list li:last-child {border-bottom: none;}
