.card-btn {
   width: 75%;
   padding: 10px 15px;
   border-radius: 10px;
   background: none;
   margin-block: 20px 30px;
   border: 1px solid rgba(255, 215, 0, 0.5);
   transition: border-color 0.8s ease, box-shadow 0.8s ease;
}

.card-btn:hover {
   border-color: #9f70fd;
   box-shadow: 0 4px 8px rgba(159, 112, 253, 0.1);
}

.style-wb {font-size: 0.8rem; color: #9f70fd;}

.card-btn a {font-size: 0.7rem; color: #f6f5f5;}
