.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-block: 25px;
}

.form-control {
    color: #ffffff;
    padding: 9px 16px;
    border-radius: 20px;
    border: 1px solid #19161c;
    background-color: transparent;
    outline: none;
    transition: border-color 0.8s ease;
}

.form-control:hover {border-color: rgba(255, 215, 0, 0.5);}

input::placeholder {
    font-size: 0.7rem;
    color: #ffffff40;
    text-align: center;
}

.submit-btn {
    font-size: 0.7rem;
    padding: 10px 35px;
    border-radius: 20px;
    margin-top: 14px;
    cursor: pointer;
    color: #e8cc76;
    background-color: transparent;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(159, 112, 253, 0.1);
    transition: box-shadow 0.3s ease;
}

.submit-btn:hover {box-shadow: 0 4px 12px rgba(159, 112, 253, 0.3);}
